@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&family=Roboto+Mono:wght@200;400&family=Tektur&display=swap");

* {
  height: 100%;
  width: 100%;
  margin: 0;
}
